.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip {
    width: 550px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
}
.close{
  padding-right: 7px;
  cursor: pointer;
}

.button {
  width: 100px;
  margin: 12px;
  font-size: 20px;
  cursor: pointer;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
